<h1>Edit Performance</h1>

<%= render 'form' %>

<%= link_to 'Back', venues_path %>
<%= link_to 'Delete Performance', [@performance],
method: :delete,
data: {confirm: "Are you sure you want to delete this performances?"}%>
